{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
    <h1>Seja bem vindo ao seu conteúdo de Habilidades. Bons estudos!</h1>
    </header>
    

    {% if habilidades %}
    {% for conteudo in habilidades %}
    <div class="container-content">
        <a class="link" href="{% url 'habilidades' conteudo.id %}">
            <div class="cantainer-link">
                  <h2 class="container-title">{{ conteudo.titulo }}</h2>
            </div>
        </a>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}