{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header id="index-header">
        <h1>Aprendizado Online é aqui.</h1>
        <h2>Seja bem vindo ao COLAB!</h2>
    </header>
    
    <div class="conteudo">
        <a class="link" href="{% url 'port' %}"><div class="b"><h3>PORTUGUÊS</h3></a></div>
        
        <div class="texto">   
            <h2> Motivos importantes para aprender a lingua portuguesa <br>(ou qualquer outro idioma):</h2>
            <p>
                A linguagem humaniza o homem. Por meio dela, os seres humanos expressam sentimentos, constroem pensamentos, interagem com o ambiente e com outros indivíduos.

                Dominar o código linguístico é fundamental para a execução de tarefas rotineiras e para ter um bom aproveitamento no mundo acadêmico e profissional. 


                8 itens que indicam a relevância da língua portuguesa no dia a dia
                <ul>
                    <li> Expressão oral:
                        A comunicação oral é a base das relações com outras pessoas. Logo, é essencial para a vida em sociedade. Falar de forma clara e objetiva permite elaborar argumentos e expor opiniões.</li>
                    <li> Leitura:
                        A leitura é necessária para a maioria das atividades cotidianas. Boa parte das informações utilizadas no dia a dia é transmitida por meio da escrita. Portanto, saber formar palavras se torna indispensável.</li>
                    <li> Escrita:
                        A escrita é exigida na escola, no vestibular e no mercado de trabalho. Essa competência é utilizada para deixar um bilhete, enviar um e-mail e desenvolver um projeto para a escola. </li>
                    <li> Interpretação de texto:
                        Entender o que está por trás dos códigos linguísticos é fundamental para adquirir repertório cultural. Refletir sobre o conteúdo de textos verbais e não verbais é muito importante para compreender livros, peças teatrais, músicas, filmes e pinturas.</li>
                    <li> Estudo:
                        O domínio da língua portuguesa contribui para ter um bom desempenho em todas as disciplinas. Saber ler, escrever e interpretar leva a bons resultados, inclusive em matérias que envolvem números.</li>
                    <li> Senso crítico:
                        Aprimorando o conhecimento sobre a língua materna, você adquire a capacidade de questionar o mundo ao seu redor. Assim, será mais fácil emitir opiniões sobre assuntos complexos.</li>
                    <li> Criatividade:
                        A habilidade de leitura amplia a imaginação. Visitando novos universos por meio das palavras, você aperfeiçoa o raciocínio lógico, a criatividade e o potencial de inovação.</li>
                    <li> Oportunidades de trabalho:
                        Quem conhece a língua portuguesa se destaca no ambiente profissional. Para obter uma boa posição no mercado de trabalho, é imprescindível ter fluência na leitura, na escrita e na comunicação oral.</li>
                </ul>


            <p>Percebeu como aprender a língua pátria será significativo para sua vida? O uso dos porquês, por exemplo, é um conhecimento básico mas que tem um importante impacto na hora de se comunicar. <br>

                <br>Referencia: <a href=" https://www.kumon.com.br/blog/8-fatores-que-mostram-a-importancia-do-portugues-no-cotidiano">KUMON</a>
            </p>
            </p>
        </div>
    </div>

    <div class="conteudo">
        <a class="link" href="{% url 'math' %}"><div class="b"><h3>MATEMÁTICA</h3></a></div>
    </div>
        
        <div class="texto">   
            <h2> Motivos importantes para aprender Matemática (ou qualquer outro idioma):</h2>
            <p>
                A Matemática é uma disciplina bastante útil no dia-a-dia de qualquer pessoa. Por vezes, a sua presença não é sentida, mas ela está omnipresente. 

                <ul>
                    <li>
                        Resolução de problemas:
                        
                        A capacidade de resolver problemas é útil em todos os aspectos, da vida pessoal à profissional e acadêmica. Ao estudar matemática, desenvolvemos o pensamento analítico. Isso é fundamental para aprender a observar, organizar, interpretar e ponderar as informações que temos à disposição antes de tomar uma decisão.
                    </li>

                    <li>
                        Estímulo da criatividade:

                        Há quem pense que ao estudar uma ciência exata como a matemática não haja espaço para o desenvolvimento da criatividade. Para resolver uma equação ou um cálculo, por exemplo, são diversas as maneiras possíveis de se pensar até chegar ao resultado. E estimular essas múltiplas possibilidades estudando matemática é um incentivo e tanto para fazer as ideias fluírem!
                    </li>

                    <li>
                        A disciplina está em tudo
                        Fazer uma compra na internet, avaliar o espaço disponível em casa para uma reorganização, preparar uma receita. Atividades como essas foram muito corriqueiras durante a quarentena. E o que elas têm em comum? A presença da matemática! O simples fato de saber fazer contas pode nos ajudar a pensar em possibilidades a nosso favor no dia a dia, como maneiras de economizar – só nas situações citadas, o raciocínio matemático nos ajuda a poupar dinheiro, espaço, tempo e insumos.
                    </li>
                    <li>
                        Incentivo à curiosidade

                        Quando realmente aprendemos matemática estamos prontos para qualquer desafio.Não é preciso recorrer à memória para lembrar um método ou outro,nós aprendemos a pensar. Mais do que as respostas, desenvolvemos a prática de fazer perguntas que irão nos ajudar a resolver o que precisamos. Isso desperta nosso interesse e curiosidade. Assim, passamos a pensar de maneira mais proativa, postura fundamental para análises e tomada de decisões.
                    </li>

                </ul>


               
                <br><p>Referencia: <a href="https://mentalidadesmatematicas.org.br/por-que-e-tao-importante-saber-matematica/">MENTALIDADES MATEMÁTICAS</a></p>
            </p>
        </div>
    </div> 

    <div class="conteudo">
        <a  class="link" href="{% url 'habil' %}"><div class="b"><h3>HABILIDADES</h3></a></div>
    </div>

    <div class="texto">
        <h2>O QUE SÃO HABILIDADES SOCIOEMOCIONAIS?</h2>

        <p>
            Tais habilidades dizem respeito a um trabalho de autoconhecimento e autorregulação, a partir do entendimento e administração das emoções e sentimentos. O (re)conhecimento das próprias potências e dos limites desenvolve a capacidade para lidar com os problemas, desafios, incertezas e volatilidades do mundo. A autoconfiança, a autoavaliação e a responsabilidade asseguram posturas de criticidade frente aos pensamentos, uma comunicação mais assertiva e tomadas de decisões conscientes.     
        </p>
         
        <p>
            Além disso, as habilidades socioemocionais envolvem aptidões quanto à convivência social, no que se refere a lidar com o próximo, ter empatia nas relações e possuir capacidade de trabalhar em equipe. Seu desenvolvimento assegura a construção de relações de confiança e dinâmicas positivas de socialização, considerando resolução de conflitos, cooperação e colaboração.
        </p>

        <p>
            A partir das competências socioemocionais, o indivíduo adquire atitudes e habilidades necessárias para respeitar diferenças e agir positivamente para o bem comum. Isso considera entender e gerenciar emoções, administrar as situações do cotidiano, estabelecer bons relacionamentos e tomar decisões de maneira responsável. Dessa forma, além das competências técnicas, é imprescindível que crianças e jovens sejam estimulados a desenvolver e (re)conhecer as habilidades socioemocionais.   
        </p>
    </div>
    
{% endblock %}
   